[submodule "microservices/devise-management"]
	path = microservices/devise-management
	url = git@github.com:evandrorgomes/ems-algasensors-devise-management.git
[submodule "microservices/temperature-monitoring"]
	path = microservices/temperature-monitoring
	url = git@github.com:evandrorgomes/ems-algasensors-temperature-monitoring.git
[submodule "microservices/temperature-processing"]
	path = microservices/temperature-processing
	url = git@github.com:evandrorgomes/ems-algasensors-temperature-processing.git
